a {
  text-decoration: none;
}

.navigation {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 18px;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: auto;
  color: #1e1e1e;
}

.navigation_links {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.navigation__link {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  transition: color ease-in-out 0.3s;
}

.navigation__link:hover {
  color: #a2bba0;
}

@media screen and (max-width: 650px) {
  .navigation_links {
    gap: 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 540px) {
  .navigation_links {
    gap: 8px;
    font-size: 12px;
  }
}
