a {
  color: black;
}

a:hover {
  color: #a2bba0;
}

.booklist {
  padding: 27px 38px 48px;
}

.booklist__heading {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  border-bottom: 1px solid rgb(194, 191, 191);
  padding: 0 38px 8px;
  margin-top: 0;
}

.booklist__books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  list-style: none;
}

.booklist__book {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  border: 1px black solid;
  border-radius: 4px;
}

.booklist__book:hover {
  cursor: pointer;
  border-color: #a2bba0;
}

.booklist__book-title {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media screen and (max-width: 722px) {
  .booklist__books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 572px) {
  .booklist__books {
    grid-template-columns: repeat(2, 1fr);
  }
}
