.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 38px 28px;
  background-color: #fff;
}

.header__logo {
  margin: auto 0;
  height: 40px;
  width: 151px;
  cursor: pointer;
}

.header__nav-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 20px;
}

.header__add-button {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 18px;
  height: 32px;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: none;
  transition: color ease-in-out 0.3s;
}

.header__add-button:hover {
  color: #a2bba0;
}

@media screen and (max-width: 650px) {
  .header__logo {
    height: 30px;
    width: 100px;
  }

  .header__add-button {
    font-size: 14px;
  }

  .header__nav-container {
    gap: 4px;
  }
}

@media screen and (max-width: 540px) {
  .header__logo {
    height: 20px;
    width: 80px;
  }

  .header__add-button {
    font-size: 12px;
  }

  .header__nav-container {
    gap: 35px;
  }
}
