.chapterlist {
  padding: 27px 38px 48px;
}

.chapterlist__heading {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  border-bottom: 1px solid rgb(194, 191, 191);
  padding: 0 38px 8px;
  margin-top: 0;
}

.chapterlist__chapters {
  display: grid;
  grid-template-columns: repeat(21, 40px);
  grid-template-rows: auto;
  list-style: none;
  gap: 10px;
}

.chapterlist__button {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  border: 1px black solid;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  width: fit-content;
}

.chapterlist__button:hover {
  cursor: pointer;
  border-color: #a2bba0;
  color: #a2bba0;
}

.chapterlist__chapter {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}

.chapterlist__chapter:hover {
  cursor: pointer;
}

.chapterlist__chapter-selected {
  color: #a2bba0;
}

@media screen and (max-width: 1195px) {
  .chapterlist__chapters {
    grid-template-columns: repeat(17, 40px);
  }
}

@media screen and (max-width: 991px) {
  .chapterlist__chapters {
    grid-template-columns: repeat(15, 40px);
  }
}

@media screen and (max-width: 905px) {
  .chapterlist__chapters {
    grid-template-columns: repeat(12, 40px);
  }
}

@media screen and (max-width: 737px) {
  .chapterlist__chapters {
    grid-template-columns: repeat(10, 40px);
  }
}

@media screen and (max-width: 645px) {
  .chapterlist__chapters {
    grid-template-columns: repeat(8, 40px);
  }
}

@media screen and (max-width: 545px) {
  .chapterlist__chapters {
    grid-template-columns: repeat(6, 40px);
  }
}
