.community {
  padding: 20px 40px;
}

.community__title {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 0 40px;
}

.community__verse {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  color: #757575;
  max-width: 700px;
  margin: 8px 0 4px 40px;
}

.cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: auto;
}

.cards__show-more {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  height: fit-content;
  width: fit-content;
  align-self: center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1290px) {
  .cards__list {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 250px);
    gap: 12px;
  }
}

@media screen and (max-width: 700px) {
  .community__title {
    margin-left: 0;
  }

  .community__verse {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .community__title {
    margin-left: 0;
  }

  .community__verse {
    margin-left: 0;
  }

  .cards__list {
    grid-template-columns: repeat(1, 350px);
    gap: 12px;
  }
}
