.about__section {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
  line-height: 1;
  background-color: #fff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 8px;
}

.about__image {
  height: 40px;
  width: 151px;
  align-self: center;
}

.about__title {
  font-weight: 700;
  font-size: 24px;
  margin: 16px 0 8px 0;
}

.about__info {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.about__cards {
  display: flex;
  gap: 40px;
}

.about__card {
  border: solid rgba(217, 217, 217) 2px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 260px;
  width: 390px;
}

.about__card-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.about__card-info {
  font-size: 16px;
  line-height: 1.2;
  margin: 16px auto;
  font-weight: 300;
  color: rgb(90, 87, 87);
  text-align: center;
  width: 300px;
}

.about__card-middle {
  background-color: #bfdbbd;
  border-color: black;
}

.about__card-button {
  height: 32px;
  width: 178px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.about__card-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1290px) {
  .about__cards {
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .about__title {
    margin: 16px 50px;
  }

  .about__info {
    margin: 0 50px 28px;
  }

  .about__card-info {
    max-width: 300px;
    font-size: 24px;
  }
}

@media screen and (max-width: 810px) {
  .about__title {
    margin: 16px 50px;
  }

  .about__info {
    margin: 0 50px 28px;
  }

  .about__section {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 540px) {
  .about__card {
    width: fit-content;
  }
}
